/*Navigation*/

.inline-block {
    display: inline-block;
    vertical-align: top;
}

.logo {
    width: 23%;
    padding: 1%;
    text-align: center;
}

nav {
    width: 73%;
    padding: 1%;
}

.navUL {
    list-style-type: none;
    width: 50%;
    margin-left: 0;
}
/*Hero Image Content*/

.heroImg {
    height: 600px;
    padding: 25px;
}

.content {
    width: 500px;
    margin: 0 auto;
}

/*Footer*/

footer {
    background-color: #373738;
    padding: 25px;
    text-align: right;
}

.footerUL {
    list-style: none;
    display: inline-block;
    vertical-align: top;
    padding: 12.5px;
}
