
/*Navigation*/

.inline-block {
    display: inline-block;
    vertical-align: top;
}

.logo {
    width: 23%;
    padding: 1%;
    text-align: center;
}

#navLogo {
    width: 30px;
    height: 30px;
}

nav {
    width: 73%;
    padding: 1%;
}

#navUL {
    list-style-type: none;
    width: 50%;
    margin-left: auto;
}
/*Hero Image Content*/

.heroImg {
    height: 600px;
    padding: 25px;
}

#heroimage {
    height: 300px;
}

.content {
    width: 500px;
    margin: 0 auto;
}

/*Footer*/

footer {
    background-color: #373738;
    color: #ffffff;
    padding: 25px;
    text-align: center;
    width: 100%;
    position: absolute;
    height: 50px;
    bottom: 0;
    right: 0;
    left: 0;
    padding-bottom: 0;
    margin: 0 auto;

}

#footerUL {
    list-style: none;
    display: inline-block;
}
